body {
    margin: 0; padding: 0;
    background: #fff;
    font-family: benton-sans,'Helvetica Neue',helvetica,arial,sans-serif;
	font-family: 'Open Sans', sans-serif;
}

header {
    position: absolute;
    top: 0px; 
    left: 0px; right: 0px;
    background: #5C6896;
    color: #fff;
    padding: 15px;
    font-size: 25px;
    border-bottom: 5px solid #eee;
}

footer {
    position: absolute;
    bottom: 0px; 
    left: 0px; right: 0px;
    background: #5C6896;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}